[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
spacy = "3.2.4"
spacy-streamlit = "*"
st-annotated-text = "*"
PyMuPDF= "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
